@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-gray-50 text-gray-900 flex flex-col min-h-screen;
  margin: 0;
  @apply transition-colors duration-300;
}

.dark body {
  @apply bg-gray-900 text-gray-100;
}

a {
  @apply font-medium text-indigo-600 no-underline hover:text-indigo-500;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  @apply rounded-lg border border-transparent px-4 py-2 font-medium transition;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 350px;
}
